
@{
    /**/

    /**/

    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<h2>Reach out with any queries:</h2>
<address style="text-align:center">sasi@gmail.com</address>
<address style="text-align:center">sachin@gmail.com</address>
<address style="text-align:center">riya@gmail.com</address>
<br />
<br />


<br />
<br />

<br />

<br />

<br />

<br />
<br />
<br />

