
@{
    ViewBag.Title = "Gifts";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<h3>50% offer on all prices for the first 5 orders and for the further orders ,Get Coupons.</h3>
<br/>
<img src="~/images/4.jpg" alt="offer" />
<br/>
<img src="~/images/50.jpg" alt="offer for new users" />

