
@{
       ViewBag.Title = "Homepage";
}
<style>
    .center {
        padding-top: 0;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 45%;
    }
</style>

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <a href="@Url.Action("Sweatshirts", "Categories")">
            <img class="center" src="~/images/b.jpg" alt="XYZ shops" />
        </a>

        <br />
        <p class="lead">XYZ sale-Big Shopping Sale starts on 22nd June with 50% instant discount on the current prices.Get Registered and add to cart for new users.</p>
    </div>
</div>

<div>
    <h2>Exclusive Deals, Discount Coupons and Promo Codes:</h2>
    <p>
        The online market in India is coming up with new arrivals daily which are surely going to affect the shopaholic people. Many e-commerce websites are offering various deals and online shopping coupons for its users but the user needs to know everything we deal so that he can avail the best. So we are curious enough to fulfill your every demand with the savings also that’s why we will provide you everything you want.To know best Online Shopping offers apart from others keep visiting us.
    </p>
    <p>&nbsp;</p>

    <h2>Why Visit XYZ Shops :</h2>
    <p>
        Because we love to make you smile and we are not going to let you go with empty hands. XYZ Shops as always want its users to get the best thing they wished for at the best price. We at the best work on every single deal because we believe that our every user is unique and special. we can understand all your mood swings, your preferences, your choices and you.Every time you write us you make us happy because everything about you makes us happy. XYZ Shops Team work smart and innovative we observe every single thing that can affect you and our expert team post fresh deals in seconds so that you can get the latest deal in every new minute. We continue adding more stores in our journey to just let you avail the best benefit and get exclusive coupons every time you visit us. Along with coupons we always try to give you extra benefits by our time by time Contest a freebies activity which is most lovable as you take part in it. It’s Just about you for us. So we are sure you are going to stuck with us and we will have a wonderful journey together.
    </p>
    <p>&nbsp;</p>
    <text class="center" style="">Stay Snug & Stylish</text>

    <img class="center" src="~/images/c.jpg" alt="XYZ shops" />

    <h2>
        Exclusive Deals in Different Manner:
    </h2>
    <p>
        We work with New day New deals theory. So that we are maintaining a section called today’s Deal, Top deals where you will find every day new deals which will be available for a day only. There are deals which will be available for more than a day for a week or so, but most amazing deals are available for a day only, so we need your presence every day and want you to grab the latest one. We keep ourselves updated with new offers always just for you and this today deal section will surely save a perfect amount for you.
    </p>
    <p>&nbsp;</p>
</div>
