
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<style>
    .center {
        display: block;
        margin-left: auto;
        margin-right: 30%;
        width: 40%;
    }
</style>

<img class="center" src="~/images/About cycle.jpg" alt="cycle of XYZ Shop" />
<h3 style="text-align:center">Lifecycle of XYZ</h3>
<img class="center" src="~/images/about.jpg" alt="XYZ shops" />
